<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Web Icon -->
    <link rel="icon" href="img/web-icon.png" type="image/x-icon" />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Web title -->
    <title>CodeRun GE</title>
  </head>
  <body>
    <!-- Header -->
    <nav id="nav">
      <!-- Logo -->
      <img src="img/web-icon.png" alt="Web Icon" class="logo" />

      <ul>
        <!-- Navigation Links -->
        <li><a class="nav-text" href="#main">მთავარი</a></li>
        <li><a class="nav-text" href="#about">დეტალურად</a></li>
        <li><a class="nav-text" href="#services">ღირებულება</a></li>
        <li><a class="nav-text" href="#contact">შეავსე განაცხადი</a></li>
        <li><a class="nav-text" href="#contact">სილაბუსი</a></li>
      </ul>
    </nav>

    <!-- Main Section -->
    <section class="section" id="main">
      <div class="section-header">
        <div class="section-box"></div>
        <h2 class="section-title">მთავარი</h2>
      </div>

      <div class="section-content">
        <p class="section-p">
          ეს არის სასწავლო პლათოფრმა მათთივს ვისაც სურს ისწავლოს პროგრამირება.
          <!-- გამარჯობა, მე ვარ ცოტნე დარჯანია, პროგრამული ურზუნველყოფის ინჟინერი,
          Javascript - ის კარგად მცოდნე ასევე browser თამაშების დეველოპერი. ეს
          არის საიტი, რომელიც შევქმენი იმისათვის რომ გავავრცელო ჩემი ცოდნა,
          გასწავლო პროგრამირება, დაგეხმარო სამსახურის დაწყებაში და ამისგან
          მივიღო სარგებელი. -->
        </p>
        <p class="section-p">
          თუ გსურს შეისწავლო პროგრამირება, არამხოლოდ ფინანსური სარგებლის მიღების
          მიზნით, არამედ მართლაც გაინტერესებს ეს სფერო და აპირებ ამ მიმართულებით
          აქტიურ მუშაობას. მაშინ პატივი იქნება დაგეხმარო ამ მიზნის მიღწევაში. მე
          როგორც გამოცდილი დეველოპერი და ამ ინდუსტრიის მცოდნე, ვუზრუნველყოფ რომ
          შეგასწავლო, ყველა ის მნიშვნელოვანი უნარი, რომელიც დაგჭირდება იმისათვის
          რომ შეძლო გამართული და გამოყენებადი, "კარგი" პროგრამების შექმნა. ასევე
          დაიწყო მუშაობა ამ მიმართულებით და გახდე წარმატებული, მაღალშემოსავლიანი
          და მოთხოვნადი კადრი ყველა ადეკვატური კომპანიისათვის.
        </p>
      </div>
    </section>

    <!-- Details Section -->
    <section class="section" id="details">
      <div class="section-header">
        <div class="section-box"></div>
        <h2 class="section-title">დეტალურად</h2>
      </div>

      <div class="section-content">
        <p class="section-p">
          გთავაზობ 8 თვიან სასწავლო პროგრამას. იხილე სილაბუსი
          <span class="link"> დეტალურად </span>
          &nbsp; კვირაში 3 დღე ჩვენ გვექნება სასწავლო სესიები და სავარჯიშო
          დავალებები. პროგრამის მთავარი დანიშნულებაა გახდე თვითდაჯერებული
          პროგრამისტი, რომელიც პროგრამის დასრულების შემდეგ შეძლებს განახორციელოს
          საკუთარი იდეები, პროექტები, პროგრამები ციფრულ სამყაროში, ან თავად
          დაიწყოს მუშაობა როგორც მაღალკვალიფიციური კადრი ნებისმიერი
          კომპანიისათვის.
        </p>
        <P class="section-p">
          სწავლას დავიწყებთ კომპიუტერული მეცნიერების ფუნდამენტური მცნებებით,
          გაეცემა პასუხი ყველა იმ კითხვას რომელიც შეიძლება კომპიუტერის
          მუშაობასთან დაკავშირებით გაგაჩნდეს. გაიაზრებ როგორ მუშაობას software,
          ერთად ვიმუშავებთ პროექტებზე და შევქმნით გამორჩეულ პორტფოლიოს, თქვენი
          ყველა დავალება ატვირთული იქნება GitHub-ზე. ივარჯიშებთ ტექნიკური
          ინტერვიუსთვის, ალგორითმული ამოცანების ამოხსნაში რათა გქონდეთ
          დასაქმების მაღალი შანსი.
        </P>
        <p class="section-p">
          ჯგუფში იქნებით 10 მოსწავლე, კვირაში სამეცადინო დღეებზე და საათებზე
          შევთანხმდებით ჯგუფურად, კვირაში ორი დღე გვექნება ონლაინ შეხვედრები
          (თითოეული 3 საათი), ხოლო 1 დღე ფიზიკური.
        </p>
      </div>
    </section>

    <!-- Prices Section -->
    <section class="section" id="prices">
      <div class="section-header">
        <div class="section-box"></div>
        <h2 class="section-title">ღირებულება</h2>
      </div>

      <div id="prices-bck" class="prices-content">
        <h3 class="prices-title">მომსახურების პირობები და ღირებულება</h3>
        <p class="prices-content-p">
          გთავაზობთ რამდენიმე არჩევანს განსხავებული პირობებით შეგიძლია აარჩიო
          შენთვის სასურველი
        </p>
        <div id="prices-sections">
          <div class="prices-box">
            <h4 class="price-title">თვეში / 200₾</h4>
            <h4 class="service-name">სტანდარტი</h4>
            <p class="price-box-p">
              წვდომა გექნება ლექციის ყველა ჩანაწერზე. ასევე სასწავლო მასალაზე,
              გექნება კითხვის/კითხვების დასმის შესაძლებლობაც, რომელსაც შეძლებ
              გამომიგზავნო ემაილის საშუალებით და მიიღო პასუხები/რჩევები.
            </p>
          </div>
          <div class="prices-box">
            <h4 class="price-title">თვეში / 400₾</h4>
            <h4 class="service-name">სტანდარტი</h4>
            <p class="price-box-p">
              წვდომა გექნება ლექციის ყველა ჩანაწერზე. ასევე სასწავლო მასალაზე,
              გექნება კითხვის/კითხვების დასმის შესაძლებლობაც, რომელსაც შეძლებ
              გამომიგზავნო ემაილის საშუალებით და მიიღო პასუხები/რჩევები.
              დაესწრები ონლაინ და ფიზიკურ შეხვედრებს, კვირაში სამჯერ, თითოეული 3
              საათი. თუმცა მუშაობის დაწყების შემდეგ ამ სფეროში, თუ კი შენი
              შემოსავალი იქნება 1000$ მეტი, მომდევნო 2 წლის მანძილზე, გადაიხდი
              საკომისიო გადასახადს, რომელიც გამოითვლება შენი თვიური შემოსავლის
              3% ით.
            </p>
          </div>
          <div class="prices-box">
            <h4 class="price-title">თვეში / 800₾</h4>
            <h4 class="service-name">სტანდარტი</h4>

            <p class="price-box-p">
              წვდომა გექნება ლექციის ყველა ჩანაწერზე. ასევე სასწავლო მასალაზე,
              გექნება კითხვის/კითხვების დასმის შესაძლებლობაც, რომელსაც შეძლებ
              გამომიგზავნო ემაილის საშუალებით და მიიღო პასუხები/რჩევები.
              დაესწრები ონლაინ და ფიზიკურ შეხვედრებს, კვირაში სამჯერ, თითოეული 3
              საათი.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Form -->
    <section class="section" id="form_section">
      <div class="section-header">
        <div class="section-box"></div>
        <h2 class="section-title">შეავსე განაცხადი</h2>
      </div>
      <div class="form-content">
        <div class="input-field-row">
          <h2>სახელი</h2>
          <input
            type="text"
            class="input-field"
            id="name"
            placeholder="შეიყვანეთ სახელი"
          />
        </div>
        <div class="input-field-row">
          <h2>გვარი</h2>
          <input
            type="text"
            class="input-field"
            id="surname"
            placeholder="შეიყვანეთ გვარი"
          />
        </div>
        <div class="input-field-row">
          <h2>ელ-ფოსტა</h2>
          <input
            type="email"
            class="input-field"
            id="email"
            placeholder="შეიყვანეთ ელ-ფოსტა"
          />
        </div>
        <div class="input-field-row">
          <h2>ტელეფონი</h2>
          <input
            type="text"
            class="input-field"
            id="phone"
            placeholder="შეიყვანეთ ტელეფონი"
          />
        </div>

        <div class="input-field-row">
          <h2>სერვისი</h2>
          <select class="service-selector" id="course">
            <option value="1">ეკონომი 500/₾ თვეში</option>
            <option value="2">სტანდარტი 700/₾ თვეში</option>
            <option value="3">პრემიუმი 900/₾ თვეში</option>
          </select>
        </div>
        <div class="input-field-row">
          <h2 style="opacity: 0">fake text</h2>

          <button class="form-button">გაგზავნა</button>
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="footer-item">
        <p class="footer-text">EMAIL : companyname@gmail.com</p>
        <p class="footer-text">MOBILE : +995 557 31 77 33</p>
      </div>
      <p class="footer-text">© 2024 CodeRun. All rights reserved.</p>
      <div class="footer-social-item">
        <div class="footer-row">
          <img
            src="img/facebook-icon.png"
            alt="Facebook"
            class="footer-social-icon"
          />
          <p class="footer-text">&nbsp; : companyname@gmail.com</p>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/script.js"></script>
  </body>
</html>
